.gradient-custom {
    /* fallback for old browsers */
    background: #6af665;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(154, 246, 101), rgb(167, 253, 133));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(101, 101, 246), rgb(0, 4, 70))
  }